<!DOCTYPE html>
<html>
<head>
  <title>DinnerTyme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'jquery.rambling.slider' %>
<%= javascript_include_tag 'jquery.rambling.slider' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="span12">
<div class="navbar">
    <a class="brand" <%= link_to "DinnerTyme", root_path %></a>
    <ul class="nav">
      <li><%= link_to "Kitchens", kitchens_path %> </li>
      <li><%= link_to "Recipes", recipes_path %></li>
      <li><%= link_to "Ingredients", ingredients_path %></li>
    </ul>
</div>
</div>

<div class="span12">
<div class="content">
<%= yield %>
</div>
</div>

</body>
</html>
